*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    background-color: #212121;
}
body{
    height: 100%;
    width: 100%;
}
main{
    width: 100%;
    height: 100vh;
    background-color: rgb(46 , 46 , 46);
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    height: 300px;
    width: 280px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;

}
form label{
    margin-top: 15px;
}
form input{
    padding: 5px 15px;
    outline: none;
    margin-top: 8px;
    background-color: transparent;
    border: 0.4px solid white;

}
form input::placeholder{
    color: white;
}
form button{
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    background-color: transparent;
    border: 0.4px solid black;
}
form button:hover{
    background-color: black;
    color: white;
} 
form span{
    text-align: center;
}
#google{
    text-align: center;
}
