@font-face {
    font-family:bold;
    src: url(../aseets/Assistant-Bold.woff);
}
@font-face {
    font-family:'regular';
    src: url(../aseets/Assistant-Regular.woff);
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
a{
   color: black;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-family:Bold;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    /* position: fixed; 
    top: 0px; */
}
 sup{
    color:#ff3f6c; ;
} 

#left-nav{
    display: flex;
    align-items: center;
    gap: 30px;
}

#left-nav img{
    width: 50px;
}

#right-nav{
    display: flex;
    gap: 30px;
    align-items: center;
    /* border: 1px solid black */
    ;
}
#right-nav input{
    width: 400px;
    border: none;
    padding: 10px 20px;
    background-color: rgb(244,251,244);
}
#right-nav span{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#right-nav span img{
    width: 20px;
}
#product-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 40px;
    padding: 20px;
    padding-top: 130px;
}
#product{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}

#product-information{
    padding: 30px;
}
#product-information p{
    color: gray;
}
#product img{
    width: 100%;
   
}
#product-information h2{
    font-family: 'regular';

}
#discount-price{
    font-family:bold;
}
#real-price{
    text-decoration: line-through;
    color: gray;
}
#discount{
    color: #ff905A;
}
#prices{
    gap: 10px;
    display: flex;
}
#light{
    width: 300px;
    height: 200px;
    border: 5px solid black;
}
#profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
#profile img{
    width: 20px;

}
